/* Apply some baseline CSS for the entire page */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
}

/*Make all the images inside the cards consistent in their sizing */

#watched img,
#will-watch img {
  height: 30em;
  width: 25em;
  border-radius: 25px;
}

/* Align the movie emoji properly with the text */

.movie-icon {
  position: relative;
  bottom: 2.5px;
}

/* Header styling: */

header {
  background-color: #264653;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 3em 1em 1.7em 1em;
}

/* header > img[alt*="Tech"] {
  position: absolute;
  height: 7em;
  width: 7em;
  left: 1.5em;
  top: 2em;
  filter: invert(53%) sepia(82%) saturate(747%) hue-rotate(330deg);
} */

header > h1 {
  color: #f4a261;
  font-size: 3rem;
}

header > h2 {
  color: #dae9db;
  font-weight: 100;
}

/* Nav bar styling: */

nav {
  background-color: #2a9d8f;
  padding: 2em 0;
}

nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav > ul > li > a {
  background-color: #e9c46a;
  text-decoration: none;
  padding: 0.5em 2.5em;
  border-radius: 35px;
  font-size: 1.5rem;
  font-weight: 300;
}

nav > ul > li > a:hover {
  background-color: #f4a261;
  color: #264653;
  transition: all 0.3s ease-in-out;
}

/* About section styling: */

#about {
  background-color: #fefae0;
  padding: 1.5em 2em 2em 0;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 0.7fr 2fr 1.5fr;
}

#about > #avatar-container {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  align-self: center;
  justify-self: center;
}

#about > h2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
  text-decoration: underline;
}

#about > p {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: #fff3a6;
  padding: 1.5em 1em 0 1em;
  font-weight: 500;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

#about > blockquote {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background-color: #f5cbab;
  border-radius: 20px;
  font-weight: 700;
  padding: 1.5em 1em;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}

#about > blockquote > cite {
  align-self: flex-end;
  margin-right: 3.5em;
}

#about img {
  border-radius: 50%;
}

/* Watched List section styling: */

#watched {
  background-color: #efd79d;
}

#watched > h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 0.5em 1em 0.5em;
}

#watched-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 2em;
  padding-bottom: 3em;
}

.watched-card {
  background-color: #f4ab70;
  padding: 1.5em;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  position: relative;
  max-width: 28em;
}

.watched-card > h3 {
  font-size: 2rem;
  margin-bottom: 4em;
  color: #264653;
}

/* Set the position of <p> and <button> to absolute to align them all properly */

.watched-card > p {
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  bottom: 4.2em;
}

.watched-card > button {
  background-color: #264653;
  color: #f4a261;
  padding: 0.8em 5em;
  border-radius: 30px;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  position: absolute;
  bottom: 1em;
}

/* Even though all cards align properly, explicitly declared where they are supposed to exist */

#watched-card-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#watched-card-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#watched-card-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#watched-card-4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#watched-card-5 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#watched-card-6 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

/* Will Watch section styling: */

#will-watch {
  background-color: #b3ccc3;
}

#will-watch > h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 0.5em 1em 0.5em;
}

#will-watch-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 2em;
  padding-bottom: 3em;
}

.will-watch-card {
  background-color: #2a9d8f;
  padding: 1.5em;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  position: relative;
  max-width: 28em;
}

.will-watch-card > h3 {
  font-size: 2rem;
  margin-bottom: 2.5em;
  color: #fefae0;
  font-weight: 600;
}

.will-watch-card > button {
  background-color: #264653;
  color: #fefae0;
  padding: 0.8em 2em;
  border-radius: 30px;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  position: absolute;
  bottom: 1em;
}

#will-watch-card-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#will-watch-card-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#will-watch-card-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#will-watch-card-4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#will-watch-card-5 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#will-watch-card-6 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

/* Footer styling: */

footer {
  background-color: #264653;
  color: #e9c46a;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

footer > a[href*="top"] {
  font-size: 1.5rem;
}

footer a {
  color: #e9c46a;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  background-color: #2b2b2b;
  padding: 0.5em 1em;
  border-radius: 30px;
}

footer a:hover {
  background-color: #e5904b;
  color: #264653;
  transition: all 0.3s ease-in-out;
}

footer #link-container {
  text-align: center;
  position: absolute;
  right: 2em;
}

footer #link-container #home-page-logo {
  font-size: 2em;
  margin-bottom: 0.5em;
}
